@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* height: 100vh; */
}
.BASLIK {
border: none;
text-align: center;
background-color: rgb(86, 86, 86);
color: white;
letter-spacing: 8px;
font-family: 'Lato', sans-serif;
margin:100px auto;
/* width: 20rem;
height: 4rem; */
padding: 10px;
border-bottom-right-radius: 1.5rem;
border-top-left-radius: 1.5rem;
outline: 6px inset rgba(136, 0, 136, 0.675);
outline-offset: 10px;
padding: 1rem 6px;
}

.BASLIK2{ /* burada yazı border dışına çıkma durumu oldu onu çözemedik. */
    border: none;
    text-align: center;
    background-color: rgb(86, 86, 86);
    color: white;
    letter-spacing: 8px;
    font-family: "Lato", sans-serif;
    margin: 100px auto;
   /*  width: 50rem;
    height: 4rem; */
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 0.7rem;
    outline: 0.4rem inset rgba(136, 0, 136, 0.675);
    outline-offset: 0.2rem;
    font-size: 20px;
    padding: 1rem 6px;
   /*  overflow: auto; */

}
.BASLIK3{ 
    border: none;
    text-align: center;
    background-color: rgb(86, 86, 86);
    color: white;
    letter-spacing: 8px;
    font-family: "Lato", sans-serif;
    margin: 100px auto;
   /*  width: 50rem;
    height: 4rem; */
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 0.7rem;
    outline: 0.4rem inset rgba(136, 0, 136, 0.675);
    outline-offset: 0.2rem;
    font-size: 20px;
    padding: 1rem 6px;
}
.BASLIK4{ 
    border: none;
    text-align: center;
    background-color: rgb(86, 86, 86);
    color: white;
    letter-spacing: 8px;
    font-family: "Lato", sans-serif;
   /*  margin: 100px auto; */
   /*  width: 50rem;
    height: 4rem; */
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 0.7rem;
    outline: 0.4rem inset rgba(136, 0, 136, 0.675);
    outline-offset: 0.2rem;
    font-size: 20px;
    padding: 1rem 6px;
}

#resim1{
    width:500px;
}
.container-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container1{
    height: 100vh;
       background-image: url(./img/bg.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.container2{
    height: 100vh;
       background-image: url(./img/bg2.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.container3{
    height: 100vh;
       background-image: url(./img/bg3.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.container4{
    height: 100vh;
       background-image: url(./img/bg4.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.container5{
    height: 100vh;
       background-image: url(./img/bg.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.paragraf1{
    background-color:#f1f1f1 ;
    text-align: center;
    line-height: 1.5rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-family: 'Lato', sans-serif;

}
.paragraf1 h2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;

}
.paragraf2{
    background-color:rgb(39, 46, 52);
    text-align: center;
    line-height: 1.5rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-family: 'Lato', sans-serif;
    color: white;

}
.paragraf2 h2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;

}
.paragraf3{
    background-color:#f1f1f1 ;
    text-align: center;
    line-height: 1.5rem;
    padding: 1.5rem 4rem 3rem 4rem;
    font-family: 'Lato', sans-serif;
}
.paragraf3 h2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;

}

.paragraf4{
    background-color:rgb(39, 46, 52);
    text-align: center;
    line-height: 1.5rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-family: 'Lato', sans-serif;
    color: white;
}
.paragraf4 h2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;

}


